/* this is the answer to number 9: custom variable declaration for use in external css */
:root {
    --background: antiquewhite;
    --primary-color: #3D8D7A;
    --secondary: #003092;
}

/* this is the answer to number 8: create default styling using external css */
body {
    background-color: var(--background);
}

/* this is the answer to number 10:  resize and colour text using external css*/
p {
    font-size: 25px;
    color: var(--primary-color);
}

/* this is the answer to number 12: change 3 element styles using each selector */
/* use id */
#name {
    color: var(--primary-color);
}

/* use class */
.image {
    height: 150px;
    border-radius: 50%;
}

/* use element html */
h2 {
    color: var(--secondary);
}


/* this is the answer to number 13: change 3 element styles using compound selector */
section ol li {
    color: var(--secondary);
}

section + h1 {
    color: var(--secondary);
}

article > h3 {
    color: white;
    background-color: var(--primary-color);
}
